/* imports */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* reset styles */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #14151b;
  color: #dbdbdb;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: lightgray;
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  height: auto;
}

/* headings */
/* utils */
.maintenance {
  max-width: 1500px;
  margin: auto;
  margin-top: 10vh;
}

.maintenance__logo {
  display: blocK;
  max-width: 260px;
  margin: auto;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maintenance__headingcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 250px;
  margin: 0 auto;
  position: relative;
  left: -20px;
  margin-bottom: 20px;
}

.maintenance__dash {
  display: inline-block;
  -webkit-transform: rotateZ(110deg);
          transform: rotateZ(110deg);
  height: 2px;
  width: 25px;
  background-color: white;
  margin: 0 auto;
  position: relative;
  top: -1px;
}

.maintenance__dash--condense {
  right: -10px;
}

.maintenance__heading {
  display: inline-block;
  font-family: "Amiri", serif;
  font-weight: normal;
  margin: auto;
}

.maintenance__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maintenance__listcontainer {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.maintenance__listitem {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline;
  font-family: "Amiri", serif;
  font-weight: lighter;
  font-size: 1.2em;
  text-transform: lowercase;
}

.maintenance__listitemseperator {
  display: inline-block;
  height: 2px;
  width: 30px;
  margin: 1em;
  background-color: white;
}

.maintenance__disclaimer {
  margin: auto;
  margin-top: 1em;
  max-width: 340px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: larger;
}

.maintenance__social {
  margin: 0 auto;
  padding: 2rem 0 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.maintenance__sociallist {
  display: inline-block;
  margin: 0 auto;
}

.maintenance__socialitem {
  display: inline-block;
  margin: 1rem;
}

@media only screen and (max-width: 600px) {
  .maintenance {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1rem;
  }
  .maintenance__list {
    display: block;
  }
  .maintenance__listitem {
    display: block;
  }
}

.fab {
  font-size: 2em;
  color: #dbdbdb;
}
/*# sourceMappingURL=style.css.map */