.maintenance {
  max-width: 1500px;
  margin: auto;
  margin-top: 20vh;

  &__logo {
    display: blocK;
    max-width: 300px;
    margin: auto;
    display: flex;
    align-items: center;
  }

  &__headingcontainer {
    display: flex;
    align-items: center;
    max-width: 250px;
    margin: 0 auto;
    position: relative;
    left: -20px;
    margin-bottom: 20px;
  }

  &__dash {
    display: inline-block;
    transform: rotateZ(110deg);
    height: 2px;
    width: 25px;
    background-color: white;
    margin: 0 auto;
    position: relative;
    top: -1px;

    &--condense {
      right: -10px;
    }
  }

  &__heading {
    display: inline-block;
    font-family: "Amiri", serif;
    font-weight: normal;
    margin: auto;
  }

  &__list {
    display: flex;
    align-items: center;

    &container {
      margin: auto;
      display: flex;
      justify-content: center;
    }

    &item {
      align-items: center;
      display: inline;
      font-family: "Crimson Text", serif;
      font-weight: bold;
      text-transform: uppercase;

      &seperator {
        display: inline-block;

        height: 2px;
        width: 10px;
        margin: 1em;
        background-color: white;
      }
    }
  }

  &__disclaimer {
    margin: auto;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
  }
}

@media only screen and (max-width: 600px) {
  .maintenance {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;

    &__list {
      display: block;

      &item {
        display: block;
      }
    }
  }
}
