.maintenance {
  max-width: 1500px;
  margin: auto;
  margin-top: 10vh;

  &__logo {
    display: blocK;
    max-width: 260px;
    margin: auto;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
  }

  &__headingcontainer {
    display: flex;
    align-items: center;
    max-width: 250px;
    margin: 0 auto;
    position: relative;
    left: -20px;
    margin-bottom: 20px;
  }

  &__dash {
    display: inline-block;
    transform: rotateZ(110deg);
    height: 2px;
    width: 25px;
    background-color: white;
    margin: 0 auto;
    position: relative;
    top: -1px;

    &--condense {
      right: -10px;
    }
  }

  &__heading {
    display: inline-block;
    font-family: "Amiri", serif;
    font-weight: normal;
    margin: auto;
  }

  &__list {
    display: flex;
    align-items: center;

    &container {
      margin: auto;
      display: flex;
      justify-content: center;
    }

    &item {
      align-items: center;
      display: inline;
      font-family: "Amiri", serif;
      font-weight: lighter;
      font-size: 1.2em;
      text-transform: lowercase;

      &seperator {
        display: inline-block;

        height: 2px;
        width: 30px;
        margin: 1em;
        background-color: white;
      }
    }
  }

  &__disclaimer {
    margin: auto;
    margin-top: 1em;
    max-width: 340px;
    text-align: center;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: larger;
  }

  &__social {
    margin: 0 auto;
    padding: 2rem 0 2rem 1rem;
    display: flex;
    justify-content: center;

    &list {
      display: inline-block;
      margin: 0 auto;
    }

    &item {
      display: inline-block;
      margin: 1rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .maintenance {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;

    &__list {
      display: block;

      &item {
        display: block;
      }
    }
  }
}
