// --- colours ---

$colours: (
  background: #14151b,
  offBlack: #0d0d11,
  offWhite: #dbdbdb,
  grayer: #999999,
  fade: #434f5f,
);

// --- measurements ---

$pageSpacing: 1rem;

$navWidth: 250px;

$workContainerHeight: 337px;
